.cart {
	width: 40%;
	max-height: 100vh;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 30;
	padding: 10px;
	background-color: var(--main-color);
	color: white;
}

.exit {
	display: flex;
	justify-content: flex-end;
}

.deleteAll {
	display: flex;
	justify-content: space-between;
	margin-block: 10px;
}


.product {
	width: 100%;
	height: 70px;
	display: flex;
	margin-block: 10px;
	border-bottom: 1px solid var(--color-grey);
	padding-bottom: 10px;
	position: relative;
}

.content {
	max-height: 100vh;
	overflow: auto;
}

.buttonSubmit {
	position: sticky;
	bottom: 15px;
	cursor: pointer;
	background-color: var(--color-red);
	border: 0;
	color: white;
	transition: var(--transition);
	border-radius: var(--border-radius);
	height: 45px;
	width: 80%;
	margin-inline: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.buttonSubmit:hover {
	background-color: var(--color-red-bold);
}