.cont {
	height: 65px;
	width: 100%;
	background-color: white;
	-webkit-box-shadow: 0px 12px 10px 0px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 12px 10px 0px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 12px 10px 0px rgba(34, 60, 80, 0.2);
	display: flex;
	padding-inline: 3%;
	align-items: center;
	justify-content: space-between;
	z-index: 15;
	position: fixed;
}

.li {
	padding: 10px;
	margin: 10px;
	border-bottom: 3px solid transparent;
	transition: var(--transition);
	cursor: pointer;
	font-weight: 800;
	color: var(--text-color);
}

.li:hover {
	border-bottom: 3px solid orange;
}

.redButton {
	margin: 6px;
	border-radius: var(--border-radius);
	padding: 8px 12px;
	transition: var(--transition);
	background-color: var(--color-red);
	color: white;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
}

.redButton:hover {
	background-color: var(--color-red-bold);
}

.buttonCont {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}