.product {
	border-radius: var(--border-radius);
	display: flex;
	align-items: flex-end;
	justify-content: center;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.img {
	border-radius: var(--border-radius);
	position: absolute;
	transition: var(--transition);
}

.img:hover {
	transform: scale(1.1);
}

.textSide {
	min-height: 30%;
	width: 100%;
	border-radius: 0 0 12px 12px;
	background-color: rgba(128, 128, 128, 0.45);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 5;
	text-align: center;
	color: white;
}

.location:hover {
	cursor: pointer;
	text-decoration: underline;
}

.socialMedia {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background-color: rgb(185, 185, 185);
	color: white;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
	margin-right: 15px
}

.f .i .g{
	transition: var(--transition);
}

.f:hover {
	background-color: #1877F2;
}

.i:hover {
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
}

.g:hover {
	background-color: var(--color-red);
}