.method {
	height: 45px;
	width: 45%;
	border-radius: var(--border-radius);
	border: 1px solid var(--color-grey);
	background-color: transparent;
	color: var(--text-color);
	cursor: pointer;
}

.active {
	background-color: #2D353F;
	border: 1px solid var(--color-red);
	color: var(--color-red)
}

.action {
	height: 45px;
	width: 48%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--border-radius);
	background-color: transparent;
	border: 1px solid var(--color-red);
	cursor: pointer;
}

.input {
	height: 55px;
	width: 100%;
	border-radius: var(--border-radius);
	border: 1px solid var(--color-grey);
	background-color: transparent;
	padding-inline: 10px;
	margin-block: 10px
}

.input:focus {
	outline: 0;
}