@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

:root {
  --max-width: 1100px;
  --border-radius: 12px;

  --transition: all 250ms ease-in-out;
  --text-color: rgb(80, 80, 80);
  --main-color: #2E2E2E;
  --contenier-width: 90%;
  --color-red: #E33B41;
  --color-red-bold: #D13A3F;
  --color-red-light: #cb797c;
  --color-grey: #A3A3A3;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::selection {
  background-color: var(--color-red);
  color: white;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
